<a href="https://colab.research.google.com/github/ItisIMouhamed/CSC221_mbadj002/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TIY 3-1

names = ['Hafiz', 'kalvin', 'Mersaides', 'Osei']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Hafiz
kalvin
Mersaides
Osei

In [ ]:
# TIY 3-2

names = ['Hafiz', 'Kalvin', 'Mersaides', 'Osei']
print(f"Hello,",(names[0]))
print(f"Hello,",(names[1]))
print(f"Hello,",(names[2]))
print(f"Hello,",(names[3]))

Hello, Hafiz
Hello, kalvin
Hello, Mersaides
Hello, Osei

In [ ]:
# TIY 3-3
# Transportation list

transportation = ['plane', 'cars', 'train']
print(f'I would love to fly a {transportation[0]} one day.')
print(f'I like {transportation[1]} but they make me a bit nausous.')
print(f'Even though I ride the {transportation[2]}, I dont like when it gets crowded.')

I would love to fly a plane one day.
I like cars but they make me a bit nausous.
Even though I ride the train, I dont like when it gets crowded.

In [ ]:
# TIY 3-4

guest = ['Dave Chappelle', 'Mike Tyson', 'Michael Jackson']
print(f'Hello, {guest[0]}, I would like to invite you to dinner.')
print(f'Hello, {guest[1]}, I would like to invite you to dinner.')
print(f'Hello, {guest[2]}, I would like to invite you to dinner.')

Hello, Dave Chappelle, I would like to invite you to dinner.
Hello, Mike Tyson, I would like to invite you to dinner.
Hello, Michael Jackson, I would like to invite you to dinner.

In [ ]:
# TIY 3-5

guest = ['Dave Chappelle', 'Mike Tyson', 'Michael Jackson']
print(f'Hello, {guest[0]}, I would like to invite you to dinner.')
print(f'Hello, {guest[1]}, I would like to invite you to dinner.')
print(f'Hello, {guest[2]}, I would like to invite you to dinner.')
print(f'{guest[2]} can not make it to dinner.')
del guest[2]
print(guest)
print(f'Hello,{guest[0]}, would you like to come over for dinner?')
print(f'Hello,{guest[1]}, would you like to come over for dinner?')

Hello, Dave Chappelle, I would like to invite you to dinner.
Hello, Mike Tyson, I would like to invite you to dinner.
Hello, Michael Jackson, I would like to invite you to dinner.
Michael Jackson can not make it to dinner.
['Dave Chappelle', 'Mike Tyson']
Hello,Dave Chappelle, would you like to come over for dinner?
Hello,Mike Tyson, would you like to come over for dinner?

In [ ]:
# TIY 3-6

guest = ['Dave Chappelle', 'Mike Tyson']
print(f'Hello, {guest[0]} and {guest[1]}, we found a bigger table so we will be inviting more people to dinner.')
guest.insert(0, 'Ryan Reynolds')
guest.insert(2, 'Bernie Mac')
guest.append('Bill Burr')
print(guest)
print(f'Hello, {guest[0]}, I would like to invite you to dinner.')
print(f'Hello, {guest[1]}, I would like to invite you to dinner.')
print(f'Hello, {guest[2]}, I would like to invite you to dinner.')
print(f'Hello, {guest[3]}, I would like to invite you to dinner.')
print(f'Hello, {guest[4]}, I would like to invite you to dinner.')

Hello, Dave Chappelle and Mike Tyson, we found a bigger table so we will be inviting more people to dinner.
['Ryan Reynolds', 'Dave Chappelle', 'Bernie Mac', 'Mike Tyson', 'Bill Burr']
Hello, Ryan Reynolds, I would like to invite you to dinner.
Hello, Dave Chappelle, I would like to invite you to dinner.
Hello, Bernie Mac, I would like to invite you to dinner.
Hello, Mike Tyson, I would like to invite you to dinner.
Hello, Bill Burr, I would like to invite you to dinner.

In [ ]:
# TIY 3-7
guest = ['Ryan Reynolds', 'Dave Chappelle', 'Bernie Mac', 'Mike Tyson', 'Bill Burr']
print(guest)
popped_guest_one = guest.pop()
popped_guest_two = guest.pop(3)
popped_guest_three = guest.pop(0)
print(popped_guest_one)
print(popped_guest_two)
print(popped_guest_three)
print(f'I apologize guest but I can only invite two pwople to dinner now.')
print(guest)
del guest[0]
del guest[0]
print(guest)

['Ryan Reynolds', 'Dave Chappelle', 'Bernie Mac', 'Mike Tyson', 'Bill Burr']
Bill Burr
Mike Tyson
Ryan Reynolds
I apologize guest but I can only invite two pwople to dinner now.
['Dave Chappelle', 'Bernie Mac']
[]

In [6]:
# TIY 3-8

locations = ['Japan','Paris', 'Dubai', 'Rome', 'Bali' ]
#1
print(locations)
#2
print(sorted(locations))
#3
print(locations)
#4
print(locations.sort(reverse=True))
#5
print(locations)
#6
locations.reverse()
#7
print(locations)
#8
locations.reverse()
#9
print(sorted(locations))
#10
print(locations.sort(reverse=True))

['Japan', 'Paris', 'Dubai', 'Rome', 'Bali']
['Bali', 'Dubai', 'Japan', 'Paris', 'Rome']
['Japan', 'Paris', 'Dubai', 'Rome', 'Bali']
None
['Rome', 'Paris', 'Japan', 'Dubai', 'Bali']
['Bali', 'Dubai', 'Japan', 'Paris', 'Rome']
['Bali', 'Dubai', 'Japan', 'Paris', 'Rome']
None

In [7]:
# TIY 3-9

guest = ['Dave Chappelle', 'Mike Tyson', 'Michael Jackson']
len(guest)

3

In [13]:
# TIY 3-10

fruits = ['grapes', 'mango', 'watermelon', 'bannana']
print(fruits[0])
fruits.append('pineapple')
print(fruits)
fruits.insert(0, 'pineapple')
print(fruits)
del fruits[0]
print(fruits)
popped_fruits = fruits.pop()
print(fruits)
print(popped_fruits)
print(fruits)
fruits.remove('bannana')
print(fruits)
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)
len(fruits)

grapes
['grapes', 'mango', 'watermelon', 'bannana', 'pineapple']
['pineapple', 'grapes', 'mango', 'watermelon', 'bannana', 'pineapple']
['grapes', 'mango', 'watermelon', 'bannana', 'pineapple']
['grapes', 'mango', 'watermelon', 'bannana']
pineapple
['grapes', 'mango', 'watermelon', 'bannana']
['grapes', 'mango', 'watermelon']
['grapes', 'mango', 'watermelon']
['watermelon', 'mango', 'grapes']

3

In [14]:
# TIY 3-11

fruits = ['grapes', 'mango', 'watermelon', 'bannana']
print(fruits[5])

IndexError: list index out of range