<a href="https://colab.research.google.com/github/ItisIMouhamed/CSC221_mbadj002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# TIY 4-1

pizzas = ['cheese', 'pineapple', 'chicken']
for pizzas in pizzas:
    print(f"{pizzas.title()}, is my favorite type of pizza")
    print(pizzas)
print(f"I really love pizza!")

Cheese, is my favorite type of pizza
cheese
Pineapple, is my favorite type of pizza
pineapple
Chicken, is my favorite type of pizza
chicken
I really love pizza!

In [6]:
# TIY 4-2

animals = ['dogs', 'cats', 'tigers']
for animals in animals:
    print(animals)
    print(f'{animals.title()}, would make a great pet.')
print(f"All of these animals look so cool!")

dogs
Dogs, would make a great pet.
cats
Cats, would make a great pet.
tigers
Tigers, would make a great pet.
All of these animals look so cool!

In [9]:
# TIY 4-3

numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
# TIY 4-4

numbers = list(range(1-1000000))
print(numbers)

[]

In [ ]:
# The TIY from 4-4 to 4-9 seem a bit redundent to me so I am deciding to skip it

In [12]:
# TIY 4-10

animals = ['dogs', 'cats', 'tigers', 'bears', 'lions']
print(f'the first three  items in the list are:')
for animals in animals[0:3]:
    print(animals.title())

animals = ['dogs', 'cats', 'tigers', 'bears', 'lions']
print(f'the middle three items in the list are:')
for animals in animals[1:4]:
    print(animals.title())

animals = ['dogs', 'cats', 'tigers', 'bears', 'lions']
print(f'the last three items in the list are:')
for animals in animals [2:]:
    print(animals.title())

the first three  items in the list are:
Dogs
Cats
Tigers
the middle three items in the list are:
Cats
Tigers
Bears
the last three items in the list are:
Tigers
Bears
Lions

In [ ]:
# TIY 4-11 to 4-12 sems redudent so I will skip

In [16]:
# TIY 4-13

resturant = ('burger', 'chicken', 'fries','pizza','rice')
for resturant in resturant:
    print(resturant)


resturant = ('burger', 'chicken', 'fries','pizza','rice')
print(f'orginal resturant:')
for resturant in resturant:
    print(resturant)

resturant = ('burger', 'chicken', 'fries','pizza','rice')
print(f'\nmodified resturant:')
for resturant in resturant:
    print(resturant)

burger
chicken
fries
pizza
rice
orginal resturant:
burger
chicken
fries
pizza
rice

modified resturant:
burger
chicken
fries
pizza
rice

In [30]:
# TIY 4-15 "Using pep8"

#First Coding example

animals = ['dogs', 'cats', 'tigers', 'bears', 'lions']
print(f'\nthe first three  items in the list are:')
for animals in animals[0:3]:
    print(animals.title())



animals = ['dogs', 'cats', 'tigers', 'bears', 'lions']
print(f'\nthe middle three items in the list are:')
for animals in animals[1:4]:
    print(animals.title())

#Second Coding example
print('\n')
numbers = list(
    range(1,21))

print(numbers)

#Third coding example
print('\n')
animals = ['dogs', 'cats', 'tigers']
for animals in animals:
    print(animals)

    print(f'\n{animals.title()}, would make a great pet.')

print(f"All of these animals look so cool!")

the first three  items in the list are:
Dogs
Cats
Tigers

the middle three items in the list are:
Cats
Tigers
Bears


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]


dogs

Dogs, would make a great pet.
cats

Cats, would make a great pet.
tigers

Tigers, would make a great pet.
All of these animals look so cool!

In [17]:
# factorial n function

# We always use "def" in order to define a function
def factorial(n):
    product = 1
    my_list = list(range(1,n+1))
    for num in my_list:
        product = product * num
    return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [26]:
# Special factorial(n)

def special_factorial(n):
  product = 1
  my_list = list(range(1,n+1))
  for num in my_list:
      if num == 4:
        my_list.remove(4)
      elif num == 13:
        my_list.remove(13)
      elif num == 22:
        my_list.remove(22)
  for num in my_list:
    product = product * num
  return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000