<a href="https://colab.research.google.com/github/ItisIMouhamed/CSC221_mbadj002/blob/main/Assignment11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example Code from text: Dog

In [9]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sit(self):
    print(f"{self.name} is now sitting.")

  def roll_over(self):
    print(f"{self.name} rolled over!")

In [11]:
my_dog = Dog("Willie", 6)
print(f"My dogs name is {my_dog.name}.")
print(f"My dog is {my_dog.age} years old.")

My dogs name is Willie.
My dog is 6 years old.

In [12]:
my_dog.sit()
my_dog.roll_over()

Willie is now sitting.
Willie rolled over!

In [14]:
your_dog = Dog('Lucy', 3)
print(f"My dog's name is {my_dog.name}.")
print(f"My dog is {my_dog.age} years old.")
my_dog.sit()

print(f"\nYour dog's name is {your_dog.name}.")
print(f"Your dog is {your_dog.age} years old.")
your_dog.sit()

My dog's name is Willie.
My dog is 6 years old.
Willie is now sitting.

Your dog's name is Lucy.
Your dog is 3 years old.
Lucy is now sitting.

# TIY 9-1
- Resturant

In [24]:
class Resturant:
  def __init__(self, name, type):
    self.name = name
    self.type = type

  def resturant_description(self):
    print(f"The resturant is named {self.name}.")
    print(f"The resturant is a {self.type} place.")

  def open(self):
    print(f"The resturant, {self.name}, is now open!")

In [18]:
my_resturant = Resturant("Foods Paradise", "Fast food")
print(f"The resturant is named {my_resturant.name}.")
print(f"The resturant is a {my_resturant.type} place.")

The resturant is named Foods Paradise.
The resturant is a Fast food place.

In [19]:
my_resturant.open()

The resturant, Foods Paradise, is now open!

# TIY 9-2
- Three resturants

In [26]:
First_resturant = Resturant('Foods Paradise', "fast food")

First_resturant.resturant_description()

Secound_resturant = Resturant('Goofy Goobers', "Fine Dining")
Secound_resturant.resturant_description()


Third_resturant = Resturant("Sunny", "Food truck")
Third_resturant.resturant_description()

The resturant is named Foods Paradise.
The resturant is a fast food.
The resturant is named Goofy Goobers.
The resturant is a Fine Dining.
The resturant is named Sunny.
The resturant is a Food truck.

# TIY 9-3
- User

In [45]:
class Users:
  def __init__(self, first_name, last_name, email, age):
    self.first_name = first_name
    self.last_name = last_name
    self.email = email
    self.age = age

  def describe_user(self):
    print(f"The users first name is {self.first_name}")
    print(f"The users last name is {self.last_name}")
    print(f"The users email is {self.email}")
    print(f"The users age is {self.age}")

  def greet_user(self):
    print(f"Hello, {self.first_name} {self.last_name}!")

In [32]:
user_info = Users("Mouhamed", "Badji", "mbadj002@plattsburgh.edu", "19")
user_info.describe_user()
user_info.greet_user()

The users first name is Mouhamed
The users last name is Badji
The users email is mbadj002@plattsburgh.edu
The users age is 19
Hello, Mouhamed Badji!

In [33]:
user_info = Users("Aged", "Milk", "stickycheesenugget@gmail.com", "99")
user_info.describe_user()
user_info.greet_user()

The users first name is Aged
The users last name is Milk
The users email is stickycheesenugget@gmail.com
The users age is 99
Hello, Aged Milk!

In [34]:
user_info = Users("Lord", "Farqoud", "longchin53@farfaraway.com", "25")
user_info.describe_user()
user_info.greet_user()

The users first name is Lord
The users last name is Farqoud
The users email is longchin53@farfaraway.com
The users age is 25
Hello, Lord Farqoud!

# Example code from text: Cars

In [1]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.odometer_reading = 0

  def get_descriptive_name(self):
    long_name = f"{self.year} {self.make} {self.model}"
    return long_name.title()

  def read_odometer(self):
    print(f"This car has {self.odometer_reading} miles on it.")

  def update_odometer(self, mileage):
    self.odometer_reading = mileage
    if mileage >= self.odometer_reading:
      self.odometer_reading = mileage
    else:
      print("You can't roll back an odometer!")

  def increment_odometer(self, miles):
    self.odometer_reading += miles

In [3]:
my_new_car = Car('audi', 'a4', 2024)
print(my_new_car.get_descriptive_name())

2024 Audi A4

In [4]:
my_new_car = Car('audi', 'a4', 2024)
print(my_new_car.get_descriptive_name())
my_new_car.read_odometer()

2024 Audi A4
This car has 0 miles on it.

In [5]:
my_new_car = Car('audi', 'a4', 2024)
print(my_new_car.get_descriptive_name())
my_new_car.odometer_reading = 23
my_new_car.read_odometer()

2024 Audi A4
This car has 23 miles on it.

In [6]:
my_new_car.update_odometer(23)
my_new_car.read_odometer()

This car has 23 miles on it.

In [7]:
my_used_car = Car('subaru', 'outback', 2019)
print(my_used_car.get_descriptive_name())
my_used_car.update_odometer(23_500)
my_used_car.read_odometer()
my_used_car.increment_odometer(100)
my_used_car.read_odometer()

2019 Subaru Outback
This car has 23500 miles on it.
This car has 23600 miles on it.

# Example code from text: Electric Cars
- Inheritence

In [2]:
class ElectricCar(Car):
  def __init__(self,make,model,year):
    super().__init__(make, model, year)
my_leaf = ElectricCar('nissan', 'leaf', 2024)
print(my_leaf.get_descriptive_name())

2024 Nissan Leaf

In [12]:
class ElectricCar(Car):
  def __init__(self,make,model,year):
    super().__init__(make, model, year)
    self.battery_size = 40
  def describe_battery(self):
    print(f"This car has a {self.battery_size}-kwh battery.")
my_leaf = ElectricCar('nissan', 'leaf', 2024)
print(my_leaf.get_descriptive_name())
my_leaf.describe_battery()

2024 Nissan Leaf
This car has a 40-kwh battery.

In [21]:
class Battery:
  def __init__(self, battery_size=40):
    self.battery_size = battery_size
  def describe_battery(self):
    print(f"this car has a {self.battery_size}-kwh battery.")
  def get_range(self):
    if self.battery_size == 40:
      range = 150
    elif self.battery_size == 65:
      range = 225
    print(f"This car can go about {range} miles on a full charge.")

class ElectricCar(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)
    self.battery = Battery()
my_leaf = ElectricCar('nissan', 'leaf', 2024)
print(my_leaf.get_descriptive_name())
my_leaf.battery.describe_battery()
my_leaf.battery.get_range()

2024 Nissan Leaf
this car has a 40-kwh battery.
This car can go about 150 miles on a full charge.

# TIY 9-6
- Icecream Stand

In [27]:
class IceCreamStand(Resturant):
  def __init__(self, name, type, flavors=[]):
    self.flavors = flavors

  def display_falvors(self):
    print(f"All Ice Cream Flavors: ")
    for flavor in self.flavors:
      print(flavor)

In [31]:
my_IceCreamStand = IceCreamStand("Iceiest Cream", "Ice Cream", ["Vanilla", "Chocolate", "Cookie & Cream", "Strawberry"])

my_IceCreamStand.display_falvors()

All Ice Cream Flavors:
Vanilla
Chocolate
Cookie & Cream
Strawberry

# TIY 9-7
- Admin

In [46]:
class Admin(Users):
    def __init__(self, first_name, last_name, email, age, privileges=[]):
        super().__init__(first_name, last_name, email, age)
        self.privileges = privileges

    def show_privileges(self):
        print("Admin privileges:")
        for privilege in self.privileges:
            print(privilege)

In [48]:
my_admin = Admin("Mc", "Lovin", "ImMcLovin@gmail.com", 25, ["can add post", "can delete post", "can ban user"])
my_admin.show_privileges()

Admin privileges:
can add post
can delete post
can ban user