<a href="https://colab.research.google.com/github/ItisIMouhamed/CSC221_mbadj002/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example of code using "and"

In [1]:
x = 5
print(x > 3 and x < 10)

True

# Example of code using "None"

In [2]:
x = None
print(x)

None

# Example of code using "True"

In [3]:
print(10 > 9)

True

# Example of code using "False"

In [4]:
print(10==9)

False

# Example of code using "as"

In [5]:
import math as m
print(m.pi)

3.141592653589793

# Example of code using "assert"

In [6]:
x = "hello"
assert x == "hello"

# Example of code using "async"

In [2]:
import asyncio

async def async_foo():
    print("async_foo started")
    await asyncio.sleep(5)
    print("async_foo done")

async def main():
    await async_foo()

await(main())

async_foo started
async_foo done

# Example of code using "break"

In [15]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

# Example of code using "await"

In [3]:
import asyncio

async def main():
    print('Hello ...')
    await asyncio.sleep(1)
    print('... World!')

await(main())

Hello ...
... World!

# Example of code using "continue"

In [18]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

# Example of code using "class"

In [19]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sit(self):
    print(f"{self.name} is now sitting.")

  def roll_over(self):
    print(f"{self.name} rolled over!")

In [20]:
my_dog = Dog("Mo", 4)
print(f"My dogs name is {my_dog.name}.")
print(f"My dog is {my_dog.age} years old.")

My dogs name is Mo.
My dog is 4 years old.

# Example of code using "def"

In [22]:
def favorite_food(name):
  print(f"My favorite food is {name}")

In [23]:
favorite_food("Fried Chicken")

My favorite food is Fried Chicken

# Example of code using "elif"

In [24]:
x = 20
if x < 10:
    print("Less than 10")
elif x < 30:
    print("Between 10 and 30")
else:
    print("30 or more")

Between 10 and 30

# Example of code using "del"

In [25]:
mylist = ['a', 'b', 'c', 'd']
del mylist[0]
print(mylist)

['b', 'c', 'd']

# Example of code using "except"

In [1]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

# Example of code using "else"

In [1]:
x = 50
if x < 10:
    print("Less than 10")
else:
    print("10 or more")

10 or more

# Example of code using "for"

In [4]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

# Example of code using "finally"

In [10]:
try:
    x = int(input("Enter a number: "))
    result = 10 / x
    print("Result:", result)
except ValueError:
    print("Please enter a valid number.")
except ZeroDivisionError:
    print("Error: Division by zero.")
finally:
    print("This block always executes, regardless of exceptions.")

Enter a number: 20
Result: 0.5
This block always executes, regardless of exceptions.

# Example of code using "from"

In [6]:
from math import pi
print(pi)

3.141592653589793

# Example of code using "if"

In [7]:
x = 10
if x > 0:
    print("x is positive")

x is positive

# Example of code using "global"

In [8]:
x = 10

def change_global():
    global x
    x = 20

print("Before change_global call, x is:", x)
change_global()
print("After change_global call, x is:", x)

Before change_global call, x is: 10
After change_global call, x is: 20

# Example of code using "in"

In [12]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list.")
else:
    print("3 is not in the list.")

3 is in the list.

# Example of code using "import"

In [13]:
import random
random_number = random.randint(1, 100)

print("Random number between 1 and 100:", random_number)

Random number between 1 and 100: 28

# Example of code using "lambda"

In [15]:
add = lambda x, y: x + y

result = add(3, 5)

print("Result of adding:", result)

Result of adding: 8

# Example of code using "is"

In [16]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

if list1 is list2:
    print("list1 and list2 refer to the same object.")
else:
    print("list1 and list2 do not refer to the same object.")

list1 and list2 do not refer to the same object.

# Example of code using "nonlocal"

In [17]:
def outer_function():
    x = 10

    def inner_function():
        nonlocal x
        x += 5
        print("Inner function: x =", x)

    inner_function()
    print("Outer function: x =", x)

outer_function()

Inner function: x = 15
Outer function: x = 15

# Example of code using "not"

In [18]:
x = True

result = not x

print("Result:", result)

Result: False

# Example of code using "or"

In [19]:
x = 5

if x < 0 or x > 10:
    print("x is less than 0 or greater than 10.")
else:
    print("x is between 0 and 10 (inclusive).")

x is between 0 and 10 (inclusive).

# Example of code using "raise"

In [20]:
def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative")
    elif age < 18:
        raise ValueError("Must be 18 or older")
    else:
        print("Age is valid")

try:
    validate_age(25)
except ValueError as e:
    print("Error:", e)

Age is valid

# Example of code using "pass"

In [21]:

def process_data(data):
    if data:
        print("Data processed successfully")
    else:
        pass

data = []
process_data(data)

# Example of code using "try"

In [22]:
try:
    x = 1 / 0
except ZeroDivisionError as e:
    print("Caught an error: ", e)

Caught an error:  division by zero

# Example of code using "return"

In [1]:
def add(x, y):
    result = x + y
    return result

sum_result = add(3, 5)

print("Sum:", sum_result)

Sum: 8

# Example of code using "while"

In [1]:
num = 0
while num < 5:
    print("Num is: ", num)
    num += 1

Num is:  0
Num is:  1
Num is:  2
Num is:  3
Num is:  4

# Example of code using "with"

In [5]:
import time

class Timer:
    def __enter__(self):
        self.start = time.time()
        return self

    def __exit__(self, *args):
        self.end = time.time()
        self.interval = self.end - self.start

with Timer() as t:
    for i in range(1000000):
        pass
print('Time taken for loop: ', t.interval, 'seconds')

Time taken for loop:  0.051319122314453125 seconds

# Example of code using "yield"

In [6]:
def count_up_to(n):
    count = 1
    while count <= n:
        yield count
        count += 1

for number in count_up_to(5):
    print(number)

1
2
3
4
5